html, body {
	width: 100%;
	height: 100%;
	font-family: arial;
}

// Orange
$theme_color_1_rgba: rgba(255,198,45,1);
$theme_color_1: #FFC62D;
// Light orange
$theme_color_2_rgba: rgba(255,241,204,1);
$theme_color_2: #FFF1CC;
// White
$theme_color_3_rgba: rgba(255,255,255,1);
$theme_color_3: #fff;
// Brownie light
$theme_color_4: #CEA18C;
$theme_color_5: #6F5839;
$theme_color_6: #6F522D;

.main {
	padding-top: 2.3%;
	padding-left: 50px;
	padding-right: 50px;
	width: 100%;
	height: 93%;
	background: $theme_color_1_rgba;
	background: -moz-linear-gradient(top, $theme_color_1_rgba 0%, $theme_color_3_rgba 4%, $theme_color_2_rgba 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $theme_color_1_rgba), color-stop(4%, $theme_color_3_rgba), color-stop(100%, $theme_color_2_rgba));
	background: -webkit-linear-gradient(top, $theme_color_1_rgba 0%, $theme_color_3_rgba 4%, $theme_color_2_rgba 100%);
	background: -o-linear-gradient(top, $theme_color_1_rgba 0%, $theme_color_3_rgba 4%, $theme_color_2_rgba 100%);
	background: -ms-linear-gradient(top, $theme_color_1_rgba 0%, $theme_color_3_rgba 4%, $theme_color_2_rgba 100%);
	background: linear-gradient(to bottom, $theme_color_1_rgba 0%, $theme_color_3_rgba 4%, $theme_color_2_rgba 100%);
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange_1', endColorstr='$orange_2', GradientType=0 );

	.roundy {
		width: 70%;
		height: 70%;
		border-radius: 50%;
		border-color: $theme_color_1;
		border-style: outset;
		background-color: #fff1cc;
		border-width: 5px;
		font-size: 8vw;
		margin: auto;
		cursor: pointer;
	}

	.btn {
		font-size: 5vw;
		border-radius: 20%;
		border-style: outset;
		background-color: $theme_color_2;
		border-color: $theme_color_1;
		border-style: outset;
		border-width: 5px;
	}

	.btn-font-sm {
		font-size: 2vw;
		width: 80%;
	}

	.btn-special {
		background-color: $theme_color_1;
	}

	.roundy-container {
		height: 98%;
		@media (max-width: 969px) {
			height: 50%;
		}
	}

	.login-box {
		margin-top: 60px;
		margin-bottom: 60px;
		//border-style: solid;
		//border-color: black;
		border-width: 1px;
		//background-color: $theme_color_4;
		width: 100%;
		padding: 10px;

		input {
			width: 100%;
			background-color: $theme_color_2;
			padding-left: 5px;
			padding-right: 5px;
		}
		font-size: 2vw;
	}

	.login-tabs {
		width: 100%;
		height: 10%;
	}

	.tab {
		font-size: 2vw;
		height: 100%;
		background: linear-gradient(to top, $theme_color_2, $theme_color_3);
		cursor: pointer;
	}

	.tab:hover {
		background: linear-gradient(to top, $theme_color_1, $theme_color_3);
	}

	.tab-selected {
		background: linear-gradient(to top, $theme_color_1, $theme_color_3);
	}

	.signup {
		display: none;
	}

	.error {
		margin-top: 10px;
		display: none;
	}

	.help-icon {
		height: 3vw;
		width: 3vw;
		cursor: help;
	}

	.list{
		padding: 2%;
		margin: 2%;
		width: 95%;
		height: 76%;
		border-style: inset;
		border-width: 2px;
		border-color: $theme_color_1;
		background-color: $theme_color_3;
	}

	.list-element {
		border-style: dotted;
		border-color: black;
		border-width: 1px;
		font-size: 20px;
		background-color: $theme_color_2;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 8px;
		width: 100%;
		text-align: left;
		cursor: pointer;
	}

	.list-element-selected {
		background-color: $theme_color_1;
		border-style: solid;
	}

	.title {
		height: 4%;
		font-size: 30px;
	}

	#event_info {
		padding: 2%;
		font-size: 18px;
		height: 76%;
		border-style: inset;
		border-width: 2px;
		border-color: $theme_color_1;
		margin: 2%;
	}

}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.aligned {
	max-width: 50%;
}

.aligned--top  {
	align-self: flex-start;
}

.aligned--bottom {
	align-self: flex-end;
}

.height100 {
	height: 100%;
}

.roundy-enter {
	width: 50% !important;
	font-size: 6vw !important;
}

.hw100 {
	height: 100%;
	width: 100%;
}

.height8 {
	height: 8%;
}

.width100 {
	width: 100%;
}

.no-padding {
	padding: 0px;
}

header {
	font-size: 16px;	
	height: 7%;
	background-color: #FFC62D;
	padding-right: 10px;
	padding-left: 10px;

	img {
		height: 100%;
	}

	a {
		color: $theme_color_3;
		text-decoration: underline;
		cursor: pointer;
	}

	.btn {
		background: -webkit-gradient(left top, left bottom, color-stop(0%, $theme_color_5), color-stop(50%, $theme_color_5), color-stop(51%, $theme_color_6), color-stop(100%, $theme_color_6));
		background: -webkit-linear-gradient(top, $theme_color_5 0%, $theme_color_5 50%, $theme_color_6 51%, $theme_color_6 100%);
		background: -o-linear-gradient(top, $theme_color_5 0%, $theme_color_5 50%, $theme_color_6 51%, $theme_color_6 100%);
		background: -ms-linear-gradient(top, $theme_color_5 0%, $theme_color_5 50%, $theme_color_6 51%, $theme_color_6 100%);
		background: linear-gradient(to bottom, $theme_color_5 0%, $theme_color_5 50%, $theme_color_6 51%, $theme_color_6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
		color: white;
	}
}